includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - src
        - tests
    bootstrapFiles:
        - phpstan-bootstrap.php
    
    # Report unmatched ignored errors
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false

